#login-main-box {
    background: url('../image/undraw_empty_street.png')no-repeat bottom center;
    background-size: 60%;
    height: 100%;
}

.welcome-wrapper {
    background: url('../image/undraw_good_team.png')no-repeat bottom center;
    background-size: 30%;
}

#welcome-content {
    background-color: #eaeaea;
}

.crop-preview {
    overflow: hidden;
    width: 230px; 
    height: 230px;
    margin: 20px;
    /* min-height: 100%;
    min-width: 100%; */
  }